# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.metadata

# CocoaPods
ios/Pods/
ios/Podfile.lock

# Xcode
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/Generated.xcconfig
*.xcuserstate
*.xcuserdatad

# Gradle
.gradle/
local.properties

//Build

rpmdude_build/RPMS
rpmdude_build/SRPMS
rpmdude_build/BUILD
rpmdude_build/SOURCES/baru
rpmdude_build/SOURCES/cleansofiles.sh
rpmdude_build/SOURCES/data.tar.gz

*.AppImage
baru.AppDir/usr/bin/*
baru.AppDir/.DirIcon
bundles

reposize.sh
